# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC build output
/Debug/
/Release/
/.vs/
*.tlog
*.recipe
*.iobj
*.ipdb
*.ilk
*.pdb
/obj/
.zcode/
GMSaveMerge/tests/json_out.txt
GMSaveMerge/tests/json_test_result.txt
GMSaveMerge/tests/*.obj
GMSaveMerge/tests/*.exe
